.white {
    color: white;
    text-align: center;
}

.sub-title {
    font-size: 30px;
    font-family: Helvetica;
}

.recipeimg {
    width: 300px;
    height: 275px;
}

.recipeimg2 {
    width: 300px;
    height: 300px;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul,
ol {
    text-align: center;
}
    
a {
    font-size: 18px;
    font-family: Helvetica;
    text-align: center;
}
    
body {
    background-color: black;
}
    
img {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}